meta(charset='utf-8')
|
|
link(rel='stylesheet' type='text/css' href='/css/iedb.css')
|
|
link(rel='icon' type='image/ico' href='/img/iedb.ico')
|
|
// Latest compiled and minified CSS
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
|
|
script(src="https://code.jquery.com/jquery-2.1.0.js")
|
|
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
|
|
script(src="/js/star-rating/js/star-rating.js" type="text/javascript")
|
|