
html
	|
	|
	head
		|
		|
		include includes/head.pug
		|
		|
		title Error
		|
		|
	|
	|
	body
		|
		|
		include includes/header.pug
		|
		|
		#content.text-center
			|
			|
			#title_row.row
				|
				|
				#title.col-xs-12
					|
					|
					h3 An error has occured:
					|
					|
					h3 #{error_msg}
				|
				|
			|
			|
		|
		|
	|
	|