html
	|
	|
	head
		|
		|
		include includes/head.pug
		|
		|
		title IEDb - Exercises for Students
		|
		|
	|
	|
	body
		|
		|
		include includes/header.pug
		|
		|
		#content.text-center
			|
			|
			#info_row.row
				|
				|
				#info_col.col-xs-12
					|
					|
					h3 IEDb is a platform for finding and solving Exercises.
					|
					|
				|
			|
			|
			#button_row.row
				|
				|
				#button_col.col-xs-12
					|
					|
					button(type="button" class="btn-lg btn-primary complementary_background" onclick="location.href = '/iedb/chapter_1';") Browse Exercises
					|
					|
				|
			|
			|
		|
		|
	|
	|